<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="container-medium">
			<h2 align="center"><b>NOVA RECEITA</b></h2><br><br>

			<%= render 'form_recipe' %>
		</div>
	</div>
</div>