<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="container-medium">
			<h2 align="center"><b>EDITAR PROCESSO Nº <%= @procedure.id %></b></h2><br><br>

			<%= render 'form_procedure' %>
		</div>
	</div>
</div>