/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

body, input, button {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.top-bar {
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	z-index: 1;
}

.navbar {
	width: 89%;
	float: right;
	background: #DF0101;
	border-radius: 0;
}

.menu {
	width: 50%;
	float: left;
	margin-top: 20px;
	margin-left: 5px;
}

.menu a {
	color: #fff;
	font-weight: bold;
	padding: 0.2em 0.5em;
	margin-left: 8px;
}

.menu a:hover {
	color: #d8d8d8;
	text-decoration: none;
}

.btn-exit {
	float: right; 
	font-size: 2em; 
	margin-right: 1em;
}

.btn-exit a {
	color: #fff;
}

.btn-exit a:hover {
	color: #d8d8d8;
}

.logo {
	height: 50px;
	background-color: #fff;
	width: 10%;
	float: left;
}

.logo img {
	margin-left: 1.5em;
	margin-top: 5px;
}

.login-area {
	margin: 5em auto;
	padding-left: 70%;
}

.container-medium {
	width: 70%;
	margin: 1em auto;
}

.container-big {
	width: 95%;
	margin: 5em auto;
}

.check-box {
	margin-bottom: 2em;
}

.procedure-menu span {
	border: solid 1px #e6e6e6;
	padding: 5px 10px;
	font-weight: bold;
}

.tabs {
	cursor: default;
}

.procedure-box {
	border: solid 1px #e6e6e6;
	margin-top: 10px;
	min-height: 1600px;
	padding-left: 2em;
	padding-top: 1em;
	background: #e6e6e6;
}

.procedure-box h4 {
	margin-top: 1em;
}

.avatar {
	float: right;
	width: 250px;
	height: 300px;
	margin-right: 1em;
}

.photo {
	width: 270px;
	height: 250px;
	padding: 0em 0.1em;
	text-align: center;
}

.btn-delete {
	font-size: 1.7em;
	color: #1c1c1c;
	background: #fff;
	padding: 0.1em;
	float: left;
	margin-top: -25px;
}

.photo img {
	float: left;
}

.add-photos span {
	float: left;
	margin-bottom: 3em;
}

.no-active {
	display: none;
}

.active {
	display: block;
}

.box1 textarea {
	font-size: 1.3em;
	height: 200px;
}

.box2 textarea {
	font-size: 1.3em;
	height: 300px;
}